<!DOCTYPE html>
<html>
  <head>
    <title>Recipe - Add recipe</title>
  </head>
  <body>
    <div>
      <h1 id="recipe-heading">New recipe</h1>
      <form id="save-recipe-form" onsubmit="return false">
        <label for="recipe-name">Recipe name</label><br />
        <input id="recipe-name" type="text" name="hest" /><br />

        <label for="recipe-description">Recipe Description</label><br />
        <input id="recipe-description" type="text" name="hist" /><br />

        <label for="recipe-portions">Recipe portions</label><br />
        <input id="recipe-portions" type="text" name="hast" />
        <br />
        <br />

        <input
          type="submit"
          id="save-recipe-btn"
          value="Submit"
          disabled="disabled"
        />
      </form>

      <br />
      <br />
      <div id="recipe-ingredient-feed"></div>
      <br />
      <button id="add-ingredient-input-btn">Add ingredient input</button>

      <br />
      <br />
      <div id="recipe-step-feed"></div>
      <br />
      <button id="add-step-input-btn">Add recipe input</button>

      <br />
      <br />
      <button id="save-btn">Log and save</button>

      <div id="recipeId"></div>
    </div>

    <script src="/static/js/api_calls.js"></script>
    <script src="/static/js/ingredients.js"></script>
    <script src="/static/js/steps.js"></script>
    <script src="/static/js/check_input.js"></script>
    <script src="/static/js/utils.js"></script>
    <script type="text/javascript">
      const recipeHeading = document.getElementById('recipe-heading');
      const recipeNameInput = document.getElementById('recipe-name');
      const recipeDescriptionInput =
        document.getElementById('recipe-description');
      const recipePortionsInput = document.getElementById('recipe-portions');
      const saveRecipeForm = document.getElementById('save-recipe-form');

      // for testing
      const dummyCreateButton = document.getElementById('dummy-create');

      const saveBtn = document.getElementById('save-btn');

      // are set by fetch
      var ingredients = [];
      var units = [];

      saveRecipeForm.addEventListener('submit', () => {});

      addIngredientInputBtn.addEventListener('click', () => {
        addIngredientInput();
      });
      addStepInputBtn.addEventListener('click', () => {
        addStepInput();
      });

      saveBtn.addEventListener('click', () => {
        console.log('SaveBtn was clicked');

        saveCurrentIngredientInputs();
        saveCurrentStepInputs();
        if (!allRecipeInputsAreValid()) return;

        // the object we are sending
        var newRecipe = {
          recipe: {
            name: null,
            description: null,
            portions: null,
          },
          ingredients: null,
          steps: null,
        };

        // recipe
        newRecipe.recipe.name = recipeNameInput.value;
        newRecipe.recipe.description = recipeDescriptionInput.value;
        newRecipe.recipe.portions = recipePortionsInput.value;

        newRecipe.ingredients = getFormattedRecipeIngredients();
        newRecipe.steps = getFormattedRecipeSteps();

        console.log(`About to send:`);
        console.log(newRecipe);

        createFullRecipe(newRecipe).then((response) => {
          if (!response.ok) {
            const errorMessage = `Error ${response.status} - ${response.statusText}`;
            console.log(errorMessage);
            return alert(errorMessage);
          } else {
            return (window.location.href = '../');
          }
        });
      });

      Promise.all([getIngredients(), getUnits()])
        .then((responses) => Promise.all(responses.map((res) => res.json())))
        .then(([ingredientResponse, unitResponse]) => {
          ingredients = ingredientResponse;
          console.log(ingredients);
          units = unitResponse;
          console.log(units);

          // add first input fields to help user
          addIngredientInput();
          addStepInput();
          console.log(`Added ingredient and step input`);
        });
    </script>
  </body>
</html>
