<!DOCTYPE html>
<html>
    <head>
        <title>Recipe - Add or edit recipe</title>
    </head>
    <body>
        <div>
          <h1 id="recipe-heading">New recipe</h1>
          <form id="add-recipe-form" onsubmit="return false">
            <label for="recipe-name">Recipe name</label><br>
            <input id="recipe-name" type="text" name="hest"><br>
            <label for="recipe-description">Recipe Description</label><br>
            <input id="recipe-description" type="text" name="hist"><br>
            <input type="submit" id="add-recipe-btn" value="Submit">
          </form>
          </div>
          <script src="/static/js/recipe.js"></script>
          <script type="text/javascript">

            const recipe = '<%= data %>'

            if (recipe) {
              const recipeHeading = document.getElementById('recipe-heading')
              recipeHeading.innerText = recipe.name
            }

          </script> 
    </body>
</html>