<!DOCTYPE html>
<html>
    <head>
        <title>Recipe - Add or edit recipe</title>
    </head>
    <body>
        <div>
          <h1 id="recipe-heading">New recipe</h1>
          <form id="save-recipe-form" onsubmit="return false">
            <label for="recipe-name">Recipe name</label><br>
            <input id="recipe-name" type="text" name="hest"><br>
            <label for="recipe-description">Recipe Description</label><br>
            <input id="recipe-description" type="text" name="hist"><br>
            <input type="submit" id="save-recipe-btn" value="Submit">
          </form>
          <button id="dummy-create">Dummy</button> 
        </div>
          
        <script src="/static/js/recipe.js"></script>
        <script src="/static/js/check_input.js"></script>
        <script type="text/javascript">

          const recipeHeading = document.getElementById('recipe-heading')
          const recipeNameInput = document.getElementById('recipe-name')
          const recipeDescriptionInput = document.getElementById('recipe-description')
          const saveRecipeForm = document.getElementById('save-recipe-form')
          const dummyCreateButton = document.getElementById('dummy-create')

          var data = '<%= data %>'
          var rId

          console.log(data)

          '<% if (data != -1) { %>'
            rId = '<%= data.id %>'
            recipeHeading.innerText = "Edit recipe"
            recipeNameInput.value = '<%= data.name %>'
            recipeDescriptionInput.value = '<%= data.description %>'
          '<%}%>'

          saveRecipeForm.addEventListener("submit", () => {
            
            const recipeName = recipeNameInput.value
            const recipeDescription = recipeDescriptionInput.value

            if (!isAlphaNumeric(recipeName)) {
              return alert(`Name '${recipeName}' is not alphanumeric`)
            } 
            if (!isAlphaNumeric(recipeDescription)) {
              return alert(`Description '${recipeDescription}' is not alphanumeric`)
            }

            // create the new entry
            const newRecipe = {
              name: recipeNameInput.value,
              description: recipeDescriptionInput.value
            } 
            console.log(newRecipe)

            console.log(`Data = ${data}`)

            if (rId == null) {

              // async add, then re-render
              addRecipe(newRecipe).then(response => {
                if (!response.ok) {
                  const errorMessage = `Error ${response.status} - ${response.statusText}`
                  console.log(errorMessage)
                } else {
                  window.location.pathname = ('/..') // navigates user back to main page
                }
              })
            
            } else {
              console.log(`About to update recipe with id ${rId}`)
              updateRecipe(newRecipe, rId).then(response => {
                if (!response.ok) {
                  const errorMessage = `Error ${response.status} - ${response.statusText}`
                  console.log(errorMessage)
                  return alert(errorMessage)
                } else {
                  window.location.pathname = (`/../recipes/${rId}`)
                }
              })
            }
          })

          const ingredients = getIngredients()
          console.log(ingredients)

          dummyCreateButton.addEventListener("click", () => {
            const newRecipe = {
              "recipe": {
                  "name": "Goda pannkakor",
                  "description": "Supergoda pannkakor",
                  "portions": 4
              },
              "ingredients": [
                  {
                      "ingredientId": 2,
                      "quantity": 2,
                      "unit": "piece"
                  },
                  {
                      "ingredientId": 4,
                      "quantity": 2,
                      "unit": "spicespoon"
                  },
                  {
                      "ingredientId": 3,
                      "quantity": 2,
                      "unit": "deciliter"
                  },
                  {
                      "ingredientId": 5,
                      "quantity": 4,
                      "unit": "deciliter"
                  }
              ],
              "steps": [
                  {
                      "description": "A first step"
                  },
                  {
                      "description": "A second step"
                  },
                  {
                      "description": "A third step"
                  }
              ]
            }
            console.log(`About to create ${newRecipe}`)
            createFullRecipe(newRecipe).then(response => {
                if (!response.ok) {
                  const errorMessage = `Error ${response.status} - ${response.statusText}`
                  console.log(errorMessage)
                  return alert(errorMessage)
                } else {
                  window.location.pathname = (`/..`)
                }
              })
          })

        </script> 
    </body>
</html>