<!DOCTYPE html>
<html>
    <head>
        <title>Recipe - <%= data.name %></title>
    </head>
    <body>
        <div>
            <form id="add-recipe-form" onsubmit="return false">
              <label for="recipe-name">Recipe name</label><br>
              <input id="recipe-name" type="text" name="hest"><br>
              <input type="submit" id="add-recipe-btn" value="Submit">
            </form>
          </div>
          <script src="../public/recipe.js"></script> 
    </body>
</html>