<!DOCTYPE html>
<html>
    <head>
        <title>Recipe - <%= data.name %></title>
    </head>
    <body>
        <h1> <%= data.name %> </h1>
        <div> has <%= data.id %> </div>
        <div> is <%= data.taste %> </div>
    </body>
</html>